*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 300;
}

body {
    background-color: #fbfbfb;
    overflow-x: hidden;

    .container {
        width: 1000px;
        margin: 0 auto;

        .navigation {
            margin: 50px 0 0;
            height: 50px;
            border-radius: 4px 4px 0 0;
            background-color: #333333;

            &-menu {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 400px;

                &-item {
                    flex: 1 0 auto;
                    text-align: center;
                    transition: all 0.15s;

                    a {
                        display: block;
                        color: #ffffff;
                        line-height: 50px;
                        font-weight: 400;
                        text-decoration: none;
                    }

                    &:hover,
                    &.active {
                        background-color: #484848;
                    }

                    &:not(.active):hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .content {
        margin-bottom: 150px;
        position: relative;

        .filters {
            background: #FFFFFF;
            border-radius: 4px;
            display: flex;
            margin-bottom: 20px;
            padding: 20px;

            &-item {
                margin-right: 15px;
                display: flex;

                &:last-of-type {
                    margin-right: 0;
                }

                &.status {
                    min-width: 270px;
                    flex: 1 1 30%;
                }

                &.search {
                    flex: 1 1 50%;
                }

                &.create {
                    flex: 1 1 20%;
                }
            }
        }

        .items {
            display: flex;
            flex-flow: wrap;
            
            &-item {
                flex: 0 0 calc((100% - 30px) / 4);
                padding: 20px;
                background: #FFFFFF;
                margin-right: 10px;
                margin-bottom: 10px;
                text-decoration: none;
                color: #34495e;
                border-radius: 4px;
                transition: background .15s ease;

                &.loading {
                    // transition: all 3s ease;
                    background: #FFFFFF;
                    opacity: 0.5;

                    span {
                        display: block;
                        background: #EFEFEF;
                        border-radius: 4px;

                        &:first-of-type {
                            height: 20px;
                            width: 80%;
                        }

                        &:last-of-type {
                            height: 17px;
                            width: 40%;
                            opacity: 0.5;
                            margin-top: 5px;
                        }
                    }
                }

                &-title {
                    font-size: 16px;
                    font-weight: 400;
                }

                &-description {
                    font-size: 14px;
                    font-weight: 400;
                    opacity: 0.5;
                }

                &:nth-child(4n) {
                    margin-right: 0;
                }

                &:hover {
                    // background: #EEEEEE;
                }
            }
        }

        .sidebar {
            width: 400px;
            background-color: #ffffff;
            padding: 15px 20px 20px;
            border-radius: 4px;

            &-loading {
                padding: 20px;
            }

            .head {
                margin-bottom: 10px;

                &-title {
                    color: #34495e;
                    font-size: 20px;
                    font-weight: 300;
                }
            }

            .fields {
                &-save {
                    margin-top: 15px;
                    background-color: #f3f3f3;
                    padding: 10px 15px 15px;
                    border-radius: 4px;
                    font-size: 16px;

                    &-description {

                    }

                    &-buttons {
                        margin-top: 10px;
                        text-align: center;
                        display: flex;

                        &-item {
                            &.save {
                                flex: 1 1 60%;
                            }
                            &.cancel {
                                flex: 1 1 40%;
                            }
                        } 
                    }
                }
            }

            .footer {
                
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        .container {
            width: 95%;
            margin: 2.5% auto;
        }
        .content {
            .items {
                &-item {
                    flex: 0 0 calc((100% - 30px) / 4);

                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        .content {
            .items {
                &-item {
                    flex: 0 0 calc((100% - 20px) / 3);

                    &:nth-child(4n) {
                        margin-right: 10px;
                    }

                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}