.button {
    margin-bottom: 10px;
    width: 100%;

    button {
        width: 100%;
        height: 45px;
        font-size: 18px;
        border: none;
        border-radius: var(--border-radius);
        color: var(--field-active-font-color);
        background: transparent;
        transition: all 0.15s;
        outline: none;
        cursor: pointer;
    }

    &.black {
        button {
            background: var(--field-active-background-color);
            color: var(--field-active-font-color);

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &.transparent {
        width: 100%;
        text-align: center;
        border-radius: var(--border-radius);

        button {
            opacity: 1;
            font-weight: 300;
            border: 1px solid var(--field-active-border-color);

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &.small {
        button {
            height: 35px;
            font-size: 16px;
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}